---
layout: default
---

<div id="app" class="vh-100 vw-100 d-flex flex-column">
    <div class="p-3 bg-white border-bottom flex-grow-0 flex-shrink-0 d-flex align-items-center gap-3">
        {% include logo.html classes="text-danger site-logo" %}
        <span class="text-muted">Data explorer</span>
    </div>
    <div class="d-flex h-100">
        <div class="flex-grow-0 flex-shrink-0 h-100 p-3 bg-light border-end">
            <h1 class="fs-6 text-muted mb-3">Datasets</h1>
            <div class="form-check mt-2" v-for="dataLayer in dataLayers">
                <input class="form-check-input" type="checkbox" :checked="dataLayerIsVisible(dataLayer.id)" :id="`datalayer-${dataLayer.id}`" @change="toggleDataLayer(dataLayer.id)">
                <label class="form-check-label" :for="`datalayer-${dataLayer.id}`">${dataLayer.label}</label>
            </div>
        </div>
        <div ref="map" class="w-100 h-100"></div>
    </div>
</div>

<template id="smart-meters-tooltip">
    <small class="d-block text-muted">Substation [[= dist_number ]]</small>
    [[= smart_meters ]] out of
    [[= all_customers ]] customers
    ([[= sm_installation ]]%) have a smart meter
</template>

<template id="electric-meters-tooltip">
    <small class="d-block text-muted">[[= postcode ]]</small>
    [[= meters ]] electricity meters<br>
    ([[= economy7_percent ]]% Economy7)<br>
    [[= consumption ]] kWh consumption<br>
    ([[= mean_consumption ]] kWh per meter)
</template>

<template id="gas-meters-tooltip">
    <small class="d-block text-muted">[[= postcode ]]</small>
    [[= meters ]] gas meters<br>
    [[= word ]] consumption, [[= consumption ]] kWh<br>
    ([[= mean_consumption ]] kWh per meter)
</template>
