---
layout: default
---

<div class="app-wrapper" id="app">
    <header class="app-header">
        {% include logo.html classes="text-danger site-logo" %}
        <span class="text-muted">Data explorer</span>
    </header>
    <div class="app-sources">
        <h1 class="fs-6 text-muted mb-3">Datasets</h1>
        <template v-for="dataLayer in dataLayers">
            <div class="form-check mt-2">
                <input class="form-check-input" type="checkbox" :checked="dataLayerIsVisible(dataLayer.id)" :id="`datalayer-${dataLayer.id}`" @change="toggleDataLayer(dataLayer.id)" :disabled="!dataLayerIsLoaded(dataLayer.id)">
                <label class="form-check-label" :for="`datalayer-${dataLayer.id}`">${dataLayer.label}</label>
            </div>
            <div class="mt-2 mb-3 ms-4" v-if="dataLayerIsVisible(dataLayer.id) && dataLayer.shaders">
                <select class="form-select form-select-sm" aria-label="Shader" @change="onDataLayerShaderSelect($event, dataLayer.id)">
                    <option v-for="shader in dataLayer.shaders" :selected="dataLayer.activeShader === shader.id" :value="`${shader.id}`">${shader.label}</option>
                </select>
            </div>
        </template>
    </div>
    <div class="app-map" ref="map"></div>
    <div class="app-inspector" :class="{'d-none': inspector.records.length === 0}">
        <header class="d-flex gap-3 align-items-center justify-content-between">
            <h2 class="fs-6 text-muted mb-0">${inspector.label}</h2>
            <button type="button" class="btn-close flex-shrink-0 flex-grow-0" aria-label="Close" @click="clearInspector"></button>
        </header>
        <ul class="list-group mt-3" v-for="(record, index) in inspector.records">
            <li class="list-group-item list-group-item-primary fs-8 lh-base fw-bold">${ index } of ${ inspector.records.length }</li>
            <li class="list-group-item" v-for="(value, key) in record">
                <h3 class="fs-8 lh-base mb-0 text-muted">${ key.replaceAll('_', ' ') }</h3>
                <p class="fs-7 mb-0 lh-base">${ value }</p>
            </li>
        </ul>
    </div>
</div>

<template id="areas-tooltip">
    <strong class="d-block">[[= substation_name ]]</strong>
    [[= pr_tenders ]] peak reduction tenders
    <br>[[= ouva_tenders ]] OU+VA tenders
    <br>[[= ou_tenders ]] OU tenders
</template>

<template id="smart-meters-tooltip">
    <small class="d-block text-muted">Substation [[= dist_number ]]</small>
    [[= smart_meters ]] out of
    [[= all_customers ]] customers
    ([[= sm_installation ]]%) have a smart meter
</template>

<template id="dumb-meters-tooltip">
    <small class="d-block text-muted">
        [[= postcode ]]
      [[ if (tender_area) { ]]
        ([[= tender_area ]])
      [[ } ]]
    </small>
    <strong class="d-block mt-2">[[= electricity_meters ]] electricity meters</strong>
    <ul class="list-unstyled mb-0">
      [[ if (_.isFinite(economy7_percent)) { ]]
        <li>([[= economy7_percent ]]% Economy7)</li>
      [[ } ]]
        <li>[[= electricity_consumption ]] kWh consumption</li>
      [[ if (_.isFinite(electricity_mean_consumption)) { ]]
        <li>([[= electricity_mean_consumption ]] kWh per meter)</li>
      [[ } ]]
    </ul>
    <strong class="d-block mt-2">[[= gas_meters ]] gas meters</strong>
    <ul class="list-unstyled mb-0">
        <li>[[= gas_consumption ]] kWh consumption</li>
      [[ if (_.isFinite(gas_mean_consumption)) { ]]
        <li>([[= gas_mean_consumption ]] kWh per meter)</li>
      [[ } ]]
    </ul>
</template>

<template id="warm-homes-local-grants-tooltip">
  <small class="d-block text-muted">[[= postcode ]]</small>
  Warm Homes Local Grant<br>
  via <strong>[[= local_authority ]] council</strong>
</template>
